*.cpp linguist-language=C++
*.pdf linguist-language=Python
*.html linguist-language=Python
*.R linguist-language=R
*.Rmd linguist-language=R
*.Rnw linguist-language=R
*.ipynb linguist-language=Python
*.py linguist-language=Python
*.jl linguist-language=Julia
